/* var.css */
/*  */
:root {
  --vp-bg: #fff;
  --vp-bg-soft: #f6f6f7;
  --vp-c-brand: rgba(8, 48, 144);
  --vp-c-brand-1: rgba(8, 48, 144);
  --vp-c-brand-2: rgba(8, 48, 144, 0.8);
  --vp-c-brand-3: rgba(8, 48, 144, 0.6);
  --vp-c-brand-4: rgba(8, 48, 144, 0.4);
  --vp-nav-active-light: var(--vp-c-brand-2);
  --vp-nav-active-dark: rgb(200, 200, 255);
  --vp-nav-active: var(--vp-nav-active-light);
  --vp-nav-height: 9vh;
  --vp-footer-height: 6vh;
  --vp-nav-color: var(--vp-bg-soft);
  --vp-nav-text: var(--vp-c-text-1);
  --vp-nav-text-activate: var(--vp-c-brand-1);
  --vp-h1-size: 34px;
  --vp-h1-weight: 500;
  --vp-h2-size: 24px;
  --vp-h2-weight: 500;
  --vp-h3-size: 18px;
  --vp-h3-weight: 500;
  --vp-p-size: 18px;
  --vp-small: 16px;
  --vp-logo-filter: none;
}

@media(max-width:768px) {
  :root {
    --vp-h1-size: 25px;
    --vp-h2-size: 18px;
    --vp-h3-size: 15px;
    --vp-p-size: 15px;
    --vp-small: 13px;
  }
}

/* 移除链接跳转下划线 */
.vp-doc a {
  text-decoration: none;
}

/* 提示框背景颜色 */
/* :root {
    --vp-custom-block-tip-bg: var(--vp-c-green-soft);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6B7BF8, #F68BC6);
  } */

/* 提示框 */
/* .custom-block.tip {
    border-color: var(--vp-c-green-2);
  } */

/* 警告框 */
/* .custom-block.warning { */
/* border-color: #d97706; */
/* border-color: var(--vp-c-yellow-2);
  } */

/* 危险框 */
/* .custom-block.danger { */
/* border-color: #f43f5e; */
/* border-color: var(--vp-c-red-2);
  } */

/** 响应式图片缩放覆盖范围 */
/** 最顶层 */
.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 9999 !important;
  /* 给的值是21，但是实测盖不住，直接999 */
}