@import './style/font.css';
@import './style/custom-block.css';
@import './style/vp-code-group.css';
@import './style/var.css';
@import './style/main.css';

.VPNav {
    .text {
        color: var(--vp-nav-text);
        font-size: 18px;
    }

    .title {
        font-size: var(--vp-h2-size);
        color: var(--vp-nav-text);
    }

    .logo {
        height: 45px;
        width: 45px;
        margin-right: 15px;
    }

    img{
        filter: var(--vp-logo-filter);
    }

    @media(max-width:768px) {
        .title{
            font-size: var(--vp-h3-size);
        }
        .logo {
            height: 24px;
            width: 24px;
            margin-right: 10px;
        }
    }

    .VPNavBarMenuLink {
        font-size: 18px;
        font-weight: 600;
        color: var(--vp-nav-text);
    }

    .VPNavBarMenuLink.active {
        color: var(--vp-nav-active);
    }

    .VPNavBarMenuLink:hover {
        color: rgb(152, 152, 255);
    }

    .VPNavScreen {
        .title {
            font-size: 14px;
            color: var(--vp-c-text-1);
        }
    }

    .container {
        .top {
            background-color: var(--vp-nav-text);
        }

        .middle {
            background-color: var(--vp-nav-text);
        }

        .bottom {
            background-color: var(--vp-nav-text);
        }
    }

    .button {
        color: var(--vp-nav-text);
    }
}

@media (min-width: 960px) {

    .VPNav .container {
        max-width: 95%;
    }

    .VPMenu {
        .title {
            font-size: 14px;
            color: var(--vp-c-text-1);
        }
    }
}

.VPContent {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.VPContent {
    .custom-block-title {
        font-size: 18px;
    }

    .custom-block {
        font-size: 16px;
    }

    .custom-block p {
        line-height: 28px;
    }

    .VPDoc {
        .aside {
            display: none;
        }
    }

    .VPDoc:not(.has-sidebar) .content {
        max-width: 90%;
    }

    .VPDoc.has-aside .content-container {
        max-width: 100%;
    }
}


.VPNav .VPNavBar:not(.has-sidebar):not(.home.top) .divider-line {
    background-color: var(--vp-nav-color);
    transition: background-color 0s;
}

/* .vitepress\theme\style\blur.css */
:root {

    body {
        background-color: var(--vp-bg-soft);
        font-size: 18px;
    }

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: var(--vp-nav-color);
        backdrop-filter: blur(10px);
        transition: background-color 0s;
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
    }

    /* Feature透明 */
    .VPFeature {
        border: none;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
        background-color: transparent;
    }

    /* 文档页侧边栏顶部透明 */
    .curtain {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

}

/* 成员页 */

.VPPage .VPTeamPage {
    min-height: calc(100vh - var(--vp-nav-height));
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.VPTeamPage .VPTeamPageSection {
    padding: 50px;
}

@media(max-width:768px) {
    .VPTeamPage .VPTeamPageSection {
        padding: 20px 60px;
    }
}

.VPTeamPage {

    .container {
        max-width: 1200px;
    }

    .VPTeamMembers.small .container {
        gap: 24px;
    }

    .VPTeamMembersItem.small .avatar {
        width: 160px;
        height: 160px;
    }

    .VPTeamMembersItem.small .name {
        padding: 8px;
        line-height: 1.2;
        font-size: var(--vp-h2-size);
        font-weight: 500;
    }

    .VPTeamMembersItem.small .title {
        line-height: 24px;
        font-size: var(--vp-h3-size);
        color: var(--vp-c-brand-1);
    }

    .VPTeamMembersItem.small .desc {
        padding-top: 8px;
        line-height: 1.2;
        font-size: var(--vp-h3-size);
        color: var(--vp-c-text-2);
    }

    .VPTeamMembersItem.small .profile {
        padding: 28px;
        flex-grow: 1;
        background-color: var(--vp-bg);
    }

    .title-text {
        font-size: var(--vp-h1-size);
        line-height: 1;
        font-weight: var(--vp-h1-weight);
        color: var(--vp-c-text-1);
        background-color: var(--vp-bg-soft);
    }

    .title-line {
        display: none;
    }
}


/* VPPage */