@import './style/font.css';
@import './style/custom-block.css';
@import './style/vp-code-group.css';
@import './style/var.css';
@import './style/main.css';

.VPNav {
    .button {
        color: var(--vp-c-bg);
        font-size: 18px;
    }

    .text {
        color: var(--vp-c-bg);
        font-size: 18px;
    }

    .title {
        font-size: 24px;
        color: var(--vp-c-bg);
    }

    @media (max-width: 768px) {
        .title {
            font-size: 20px;
        }
    }

    .VPNavBarMenuLink {
        font-size: 18px;
        font-weight: 600;
        color: var(--vp-c-bg);
    }

    .VPNavBarMenuLink.active {
        color: var(--vp-c-bg);
    }

    .VPNavBarMenuLink:hover {
        color: var(--vp-c-brand-3);
    }

    .VPNavScreen {
        .title {
            font-size: 14px;
            color: var(--vp-c-text-1);
        }
    }

    .container {
        .top {
            background-color: var(--vp-c-bg);
        }

        .middle {
            background-color: var(--vp-c-bg);
        }

        .bottom {
            background-color: var(--vp-c-bg);
        }
    }
}

@media (min-width: 960px) {

    .VPNav .container {
        max-width: 95%;
    }

    .VPMenu {
        .title {
            font-size: 14px;
            color: var(--vp-c-text-1);
        }
    }
}

.VPContent {
    .custom-block-title {
        font-size: 18px;
    }

    .custom-block {
        font-size: 16px;
    }

    .custom-block p{
        line-height: 28px;
    }

    .VPDoc {
        .aside {
            display: none;
        }
    }

    .VPDoc:not(.has-sidebar) .content {
        max-width: 90%;
    }

    .VPDoc.has-aside .content-container {
        max-width: 100%;
    }
}

.VPNav .VPNavBar:not(.has-sidebar):not(.home.top) .divider-line {
    background-color: var(--vp-c-brand-1);
}

/* .vitepress\theme\style\blur.css */
:root {

    body {
        background-color: var(--vp-c-bg-soft);
        font-size: 18px;
    }

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: var(--vp-c-brand-1);
        backdrop-filter: blur(10px);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
    }

    /* Feature透明 */
    .VPFeature {
        border: none;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
        background-color: transparent;
    }

    /* 文档页侧边栏顶部透明 */
    .curtain {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    @media (min-width: 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(10px);
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

}

/* 成员页 */

.VPTeamPage {

    .container {
        max-width: 1200px;
    }

    .VPTeamMembers.small .container {
        gap: 30px;
    }

    .VPTeamMembers.small.count-2 .container {
        max-width: 640px;
    }

    .VPTeamMembers.small.count-4 .container {
        max-width: 1600px;
    }

    .VPTeamMembersItem.small .avatar {
        width: 160px;
        height: 160px;
    }

    .VPTeamMembersItem.small .name {
        padding: 8px;
        line-height: 30px;
        font-size: 25px;
    }

    .VPTeamMembersItem.small .title {
        line-height: 24px;
        font-size: 18px;
        color: var(--vp-c-brand-1);
    }

    .VPTeamMembersItem.small .desc {
        padding-top: 8px;
        line-height: 24px;
        font-size: 18px;
        color: var(--vp-c-text-2);
    }

    .VPTeamMembersItem.small .profile {
        padding: 28px;
        flex-grow: 1;
        background-color: var(--vp-c-bg);
    }

    .title {
        margin-top: 60px;
    }

    .title-text {
        font-size: 36px;
        font-weight: 700;
        color: var(--vp-c-text-1);
        background-color: var(--vp-c-bg-soft);
    }
}